@{
    ViewData["Title"] = "Show Cookies";
}

<div class="text-center">
    <h1 class="display-4">Show cookies</h1>
    <ul>
        <li>
            Short : @ViewData["short"]
        </li>
        <li>
            Long : @ViewData["long"]
        </li>
        <li>
            Very Long : @ViewData["veryLong"]
        </li>
        <li>
            For session: @ViewData["forSession"]
        </li>
    </ul>
</div>
