@using System.Drawing;
@{
    ViewData["Title"] = "Show Session";
}

<div class="text-center">
    <h1 class="display-4">Show session</h1>
    <ul>
        <li>
            Name: @ViewData["name"]
        </li>
        <li>
            Age: @ViewData["age"]
        </li>
        <li>
            Point.X: @ViewData["x"]
        </li>
        <li>
            Point.Y: @ViewData["y"]
        </li>
    </ul>
</div>
