p {
    background-color: bisque;
}
div {
    height: 80px;
    width: 100px;
} 
.outer{
    height: 200px;
    width: 300px;
    background-color: khaki;
    position: relative; /* cannot be static */
}
.outer  div{
    position:absolute;
    opacity: 90%;
}
#id1{
    
    background-color: yellow;
    top:50px;
    left:40px;
}
#id2{
    background-color: greenyellow;
    top:30px;
    left:60px;
}
#id3{
    background-color: orange;
    bottom:30px;
    right:100px;
}
