p {
    background-color: bisque;
}
div {
    height: 80px;
    width: 100px;
    background-color: greenyellow;
} 
.moved{
    position: relative;
    background-color: yellow;
    top:-10px;
    left:-15px;
}
