.em {
    font-size: 2em;
}
.px {
    font-size: 20px;
}
.pt {
    font-size: 20pt;
}
.pc {
    font-size: 2pc;
}
.cm {
    font-size: 2cm;
}
.ex {
    font-size: 10ex;
}
.vh {
    font-size: 10vh;
}
